.right {
    flex: 1;
    padding-bottom: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;

    &__h2{
        margin-top: 4rem;
        font-size: 2rem;

        @media (max-width:600px) {
            text-align: center;
        }
    }

    &__paragraph{
        color: $grey-dark-1;
        margin-top: 2rem;
        font-size: 1.2rem;
        max-width: 80ch;
        font-weight: 500;

        @media (max-width:600px) {
            text-align: center;
        }
    }

    &__h3{
        margin-top: 1rem;
        margin-bottom: 0.8rem;
        font-size: 1.4rem;

        @media (max-width:600px) {
            text-align: center;
            margin-bottom: 0.8rem;
        }
    }

    &__span{
        font-size: 1.2rem;
        
        @media (max-width:600px) {
            display: block;
            text-align: center;

            &:last-child{
                margin-bottom: 5rem;
            }
        }
    }
}  